<!DOCTYPE html>
<html>
  <head>
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Employee Management System!</h1>
      <p>Please select an option:</p>
      <ul class="list-group">
        <li class="list-group-item"><a href="/registration">Register a new employee</a></li>
        <li class="list-group-item"><a href="/information">View employee information</a></li>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://popper.js.org/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
